In [10]:
import pandas as pd
import matplotlib.pyplot as plt


def pb():
    data = pd.read_csv("data/surveyDataSience.csv", delimiter=',', header=[0,1],low_memory=False)
    #print(date)
    data.columns = data.columns.get_level_values(0)
    data = data[1:].reset_index(drop=True)
    selected_columns = ['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6']
    q7_columns = [col for col in data.columns if col.startswith('Q7_')]

    data['Q7_concat'] = data[q7_columns].apply(lambda row: ', '.join(row.dropna()), axis=1)

    df_final = data[selected_columns + ['Q7_concat'] + ['Q8']]

    one_hot = df_final['Q7_concat'].str.get_dummies(sep=', ')

    df_final = pd.concat([df_final, one_hot], axis=1)

    df_final.drop(columns=['Q7_concat'], inplace=True)
    total_nulls = df_final.isnull().sum().sum()
    print("Numarul total de date nule este:", total_nulls)
    full_respondents = df_final.dropna().shape[0]
    print("Numarul de corespondenti cu date complete:",full_respondents)
    print(df_final)
pb()

Numarul total de date nule este: 1144
Numarul de corespondenti cu date complete: 24828
          Q1     Q2                        Q3                      Q4  \
0      50-54    Man                 Indonesia         Master’s degree
1      22-24    Man                  Pakistan         Master’s degree
2      45-49    Man                    Mexico         Doctoral degree
3      45-49    Man                     India         Doctoral degree
4      25-29  Woman                     India  I prefer not to answer
...      ...    ...                       ...                     ...
25967  30-34    Man                     Egypt       Bachelor’s degree
25968  22-24    Man                     China         Master’s degree
25969  50-54    Man                    Sweden         Doctoral degree
25970  45-49    Man  United States of America         Master’s degree
25971  18-21    Man                     India       Bachelor’s degree

                            Q5                         Q6      Q8  Bash  C  \
0      Program/Project Manager                  20+ years  Python     0  1
1            Software Engineer                  1-3 years  Python     0  0
2           Research Scientist                  20+ years  Python     0  0
3                        Other                  < 1 years  Python     0  1
4       Currently not employed                  < 1 years  Python     0  0
...                        ...                        ...     ...   ... ..
25967             Data Analyst                  1-3 years  Python     1  0
25968                  Student                  1-3 years  Python     0  0
25969       Research Scientist  I have never written code     NaN     0  0
25970           Data Scientist                 5-10 years  Python     0  0
25971         Business Analyst  I have never written code     NaN     0  0

       C++  Java  Javascript  Julia  MATLAB  Other  Python  R  SQL  Swift
0        1     1           0      0       0      0       0  0    1      0
1        1     1           0      0       0      0       1  0    0      0
2        0     0           0      0       0      0       1  0    0      0
3        0     0           0      0       1      0       1  0    0      0
4        0     0           0      0       0      0       1  0    0      0
...    ...   ...         ...    ...     ...    ...     ... ..  ...    ...
25967    0     0           1      0       0      0       1  0    1      0
25968    0     0           0      0       0      0       1  0    0      0
25969    0     0           0      0       0      0       0  0    0      0
25970    0     0           0      0       0      0       1  0    1      0
25971    0     0           0      0       0      0       0  0    0      0

[25972 rows x 19 columns]